# Java
*.class

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.exe
*.zip
test.*

# ASP.NET (Web Form) , C#
.vs
/Advanced Computer Programing/quiz_1/nbproject/private/
/Advanced Computer Programing/Quiz_1/build/
